<div class="border-t border-gray-200 dark:border-gray-600">
    <div class="pt-4" id="faq" role="tabpanel" aria-labelledby="faq-tab">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" *ngFor="let order of orders">

        <li class="py-3 sm:py-4" *ngFor="let item of order.items">
          <div class="flex items-center justify-between">
            <div class="flex items-center min-w-0">
              <img class="flex-shrink-0 w-10 h-10" src="https://images.unsplash.com/photo-1515955656352-a1fa3ffcd111?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="imac image">
              <div class="ml-3">
                <p class="font-medium text-gray-900 truncate">
                  {{item.product.name}}
                </p>
                <div class="flex items-center justify-end flex-1 text-sm text-green-500 dark:text-green-400">
                  {{item.amount | currency:'TL':'symbol':'1.2-2'}}
                  <span class="ml-2 text-gray-500">{{item.quantity}} pieces</span>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>