<div class="bg-gradient-to-b from-sky-400 to-sky-200 min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <form class="bg-white px-6 py-8 rounded shadow-md text-black w-full" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <h1 class="mb-8 text-3xl text-center">Sign in</h1>

            <small class="uk-width-1-1 uk-text-danger" *ngIf="
                loginForm.get('email')?.touched &&
                f['email'].hasError('required')
              ">
                (*) Email must be 4 digit at least
            </small>
            <small class="uk-width-1-1 uk-text-danger" *ngIf="
            loginForm.get('email')?.touched && f['email'].hasError('email')
              ">
                (*) Please enter a valid email address
            </small>
            <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="email" formControlName="email"
                placeholder="Email" />

                <small class="uk-width-1-1 uk-text-danger" *ngIf="
                (loginForm.get('password')?.touched &&
                  f['password'].hasError('required')) ||
                f['password'].hasError('minlength')
              ">
                (*) Confirm Password must be 4 digit at least
            </small>
            <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="password" formControlName="password"
                placeholder="Password" />

            <button type="submit" [disabled]="loginForm.invalid"
                class="w-full text-center py-3 rounded bg-primary text-white hover:bg-light-yellow focus:outline-none my-1">Sign in</button>

            <div class="text-center text-sm text-grey-dark mt-4">
                By signing up, you agree to the
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Terms of Service
                </a> and
                <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                    Privacy Policy
                </a>
            </div>
        </form>

        <div class="text-grey-dark mt-6">
            Don't you have an account?
            <a class="no-underline border-b border-blue text-blue" routerLink="/register">
                Sign up
            </a>.
        </div>
    </div>
</div>